<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home-page' %}">Heal.thy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Recipes
            </a>
            <ul class="dropdown-menu"> 
                <li><a class="dropdown-item" href="{% url 'recipe-page' %}">See all recipes</a></li>
                <li><a class="dropdown-item" href="{% url 'create-meal' %}">Add recipe</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'recipe-page'%}?q=Breakfast">Breakfast</a></li>
                <li><a class="dropdown-item" href="{% url 'recipe-page'%}?q=Lunch">Lunch</a></li>
                <li><a class="dropdown-item" href="{% url 'recipe-page'%}?q=Dinner">Dinner</a></li>
                <li><a class="dropdown-item" href="{% url 'recipe-page'%}?q=Supper">Supper</a></li>
                <li><a class="dropdown-item" href="{% url 'recipe-page'%}?q=Snacks">Snacks</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forum' %}">Forum</a>
          </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'create-plan' %}">Make Plan</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile-page' %}">Profile</a></li>
            {% endif %}
        </ul>
        <div class="d-flex justify-content-end">
            {% if request.user.is_authenticated %}
                <a class="btn btn-outline-light" href="{% url 'logout-page' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-outline-light" href="{% url 'login-page' %}" role="button">Login</a>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>