<style>
    .navbar-container{
        display: inline
    }
</style>

<hr>
<div class="navbar-container">
    <span><a href="{% url 'home-page' %}">Home</a></span>
    <span><a href="{% url 'recipe-page' %}">Recipes</a></span>
    <span><a href="{% url 'home-page' %}">Health Advices</a></span>
    <span><a href="{% url 'home-page' %}">Forum</a></span>
    {% if request.user.is_authenticated %}
        <span><a href="{% url 'create-plan' %}">Make Plan</a></span>
        <span><a href="{% url 'profile-page' %}">Profile</a></span>
    {% endif %}
</div>
<hr>