{% extends 'main.html' %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="shadow p-4 mb-5 bg-body rounded">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete "{{ obj }}"?
            </div>
           
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" class="btn btn-danger" type="submit" value="Confirm"/>                    
                <a type="button" class="btn btn-success" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            </div>
        </form>
    </div>
</div>



{% endblock content %}