{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if recipes %}
            <div class="col">{% include 'base/recipes_navbar.html '%}</div>
            <div class="col-12 col-lg-6">{% include 'base/recipes_container.html' %}</div>
        {% else %}
            <div class="col col-lg-3 order-lg-1 order-2">{% include 'base/inspirations_feed.html '%}</div>
            {% if request.user.is_authenticated %}
                <div class="col-12 col-lg-6 order-lg-2 order-1">{% include 'base/yourplan_container.html' %}</div>
            {% else %}
                <div class="col-12 col-lg-6 order-lg-2 order-1">{% include 'base/homepage_container.html' %}</div>
            {% endif %}
        {% endif %}
        <div class="col order-3">{% include 'base/profile_container.html' %}</div>
    </div>
</div>  
{% endblock content %}