{% extends 'main.html'  %}

{% block content %}

{% include 'base/messages.html' %}

{% if page == 'login' %}
<div class="d-flex justify-content-center">
    <div class="shadow p-4 mb-5 bg-body rounded">
        <h3>Login</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="UsernameInput">Username</label>
              <input type="text" name="username" class="form-control" id="UsernameInput"  placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="PasswordInput">Password</label>
              <input type="password" name="password" class="form-control" id="PasswordInput" placeholder="Password">
            </div>
            <br>
            <div class="d-grid gap-2">
                <button type="submit" value="Login" class="btn btn-dark">Login</button>
            </div>
            <p>Haven't signed up yet? <a href="{% url 'register-page' %}">Sign up!</a></p>
        </form>
    </div>
</div>

{% else %}
<div class="d-flex justify-content-center">
    <div class="shadow p-4 mb-5 bg-body rounded">
        <h3>Register</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" value="Register" class="btn btn-dark">Register</button>
        </form>
        <br>
        <p>Already signed up? <a href="{% url 'login-page' %}">Sign in!</a></p>
    </div>
</div>
{% endif %}




{% endblock content %}