<div class="shadow p-4 mb-5 bg-body rounded">
    <div>
        <h3>Search database</h3>
        <hr>
    </div>
    
    <div>
        <form method="GET" action="">
                <input type="text" name="q" placeholder="Filter recipes...">
                <a href="{% url 'recipe-page'%}">Show all</a>
            </form>
    </div>
    
    <div>
        <h3>Categories:</h3>
        {% for meal_time in meal_times %}
            <ul>
                <li><a href="{% url 'recipe-page'%}?q={{meal_time.name}}">{{meal_time.name}}</a></li>
            </ul>
        {% endfor %}
    </div>
</div>

